{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}media.heading.index{% endtrans %}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.media.add') }}" class="button"
               title="{% trans %}common.button.add{% endtrans %}"><span>{% trans %}common.button.add{% endtrans %}</span></a></li>
    </ul>
    <script type="text/javascript">
        function processMediaDataGrid(row) {
            var icon =
            row.preview = '<a title="'+ row.name +'" href="' + row.preview + '" class="show-thumb"><img src="{{ asset('bundles/wellcommerceadmin/images/icons/datagrid/details.png') }}" style="vertical-align: middle;" /></a>';
            return row;
        }

        function dataLoadedMediaDataGrid(dDg) {
            dDg.m_jBody.find('.show-thumb').mouseenter(GTooltip.ShowThumbForThis).mouseleave(GTooltip.HideThumbForThis);
        }
    </script>
    {{ datagrid_renderer(datagrid) }}
{% endblock %}
