{% extends 'WellCommerceCoreBundle:Admin:layout.html.twig' %}
{% block content %}
    <h2>{% trans %}heading.media.list{% endtrans %}</h2>

    <ul class="possibilities">
        <li><a href="{{ path('admin.media.add') }}" class="button"
               title="{% trans %}Add{% endtrans %}"><span>{% trans %}Add{% endtrans %}</span></a></li>
    </ul>

    <script type="text/javascript">
        function processMedia(row) {
            var icon =
            row.preview = '<a title="" href="' + row.preview + '" class="show-thumb"><img src="{{ asset('bundles/wellcommercecore/images/icons/datagrid/details.png') }}" style="vertical-align: middle;" /></a>';
            return row;
        }

        function dataLoadedMedia(dDg) {
            dDg.m_jBody.find('.show-thumb').mouseenter(GTooltip.ShowThumbForThis).mouseleave(GTooltip.HideThumbForThis);
        }
    </script>
    {{ datagrid_renderer(datagrid) }}

{% endblock %}
