{% trans_default_domain "wellcommerce" %}
{% if dataset.pagination.totalRows > 0 %}
    {% if app.request.get('view') == 'list' %}
        {% include 'WellCommerceAppBundle:Front/Common:products_list.html.twig' %}
    {% else %}
        {% include 'WellCommerceAppBundle:Front/Common:products.html.twig' %}
    {% endif %}
{% else %}
    <div class="alert alert-info" role="alert">
        <strong>{% trans %}search.flash.no_results{% endtrans %}</strong>
    </div>
{% endif %}
