<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header noborder">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
            <div class="alert alert-success text-center mbt30">
                <strong>"{{ product.translate().name }}"</strong> was added to cart
            </div>

            <h5 class="text-center">Products that might also interest you:</h5>

            <div class="products-grid">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <div class="body">
                                <a href="product.php" class="photo">
                                    <img src="../assets/prod/prod1.jpg" />
                                </a>

                                <a href="product.php" class="caption">
                                    <div class="labels">
                                        <span class="label">Bestseller</span>
                                    </div>
                                    <span class="price">$499.00</span>
                                    <span class="name">New Apple TV® - black</span>
                                </a>

                                <a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="assets/img/add-to-cart.png" /></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <div class="body">
                                <a href="product.php" class="photo">
                                    <img src="../assets/prod/prod2.jpg" />
                                </a>

                                <a href="product.php" class="caption">
                                    <span class="price">$359.00</span>
                                    <span class="name">Fitbit Flex Wireless Wristband - Black</span>
                                </a>

                                <a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="assets/img/add-to-cart.png" /></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="thumbnail">
                            <div class="body">
                                <a href="product.php" class="photo">
                                    <img src="../assets/prod/prod3.jpg" />
                                </a>

                                <a href="product.php" class="caption">
                                    <span class="price">$129.00</span>
                                    <span class="name">Garmin Vivofit Fitness Band - Assorted Colors</span>
                                </a>

                                <a href="product.php" class="btn btn-primary text-left">Add to cart<i class="pull-right"><img src="assets/img/add-to-cart.png" /></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-link dark nopadding notransform pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Back to shopping</button>
            <button type="button" class="btn btn-primary">Go to cart<span class="cart-qty">2</span></button>
        </div>
    </div>
</div>
