{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{{ ('package.heading.'~operation)|trans({}) }} "{{ packageName }}"</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.package.index') }}" class="button return"><span></span></a></li>
    </ul>
    {{ render_form(form) }}
{% endblock %}
