{% extends 'WellCommerceCoreBundle:Admin:layout.html.twig' %}
{% block content %}
    <h2>{% trans %}category.list{% endtrans %}</h2>

    <div class="block">
        {{ form(tree) }}
    </div>
    {% include 'WellCommerceCategoryBundle:Admin:Category/category_javascript.html.twig' %}
{% endblock %}
