<h2 class="box-heading text-left">{{ category.translate().name }}</h2>
<hr>
{% if category.translate().shortDescription %}
<div class="well">
    {{ category.translate().shortDescription|raw }}
</div>
{% endif %}
