{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}review.heading.index{% endtrans %}</h2>
    {{ datagrid_renderer(datagrid) }}
{% endblock %}
