{% extends 'WellCommerceAppBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}product.heading.index{% endtrans %}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.product.add') }}" class="button"
               title="{% trans %}common.button.add{% endtrans %}"><span>{% trans %}common.button.add{% endtrans %}</span></a></li>
    </ul>

    <script>
        var duplicateProduct = function (dg, id) {
            return window.location.href = Routing.generate('admin.product.duplicate', {
                id: id
            });
        };

        var action_duplicateProduct = new GF_Action({
            caption: Translator.trans('product.button.duplicate', {}, 'wellcommerce'),
            action: duplicateProduct,
            img: '{{ asset('bundles/wellcommerceadmin/images/datagrid/duplicate-row.png') }}',
        });
    </script>

    {{ datagrid_renderer(datagrid) }}
{% endblock %}
