{% trans_default_domain "wellcommerce" %}

{% for flashMessage in app.session.getFlashBag().get('error') %}
    <div class="alert alert-danger" role="alert">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.getFlashBag().get('success') %}
    <div class="alert alert-success" role="alert">
        {{ flashMessage }}
    </div>
{% endfor %}
