{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% block content %}
    <h2>{% trans %}Edit layout page{% endtrans %}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.layout_page.index') }}" class="button return"><span></span></a></li>
        <li><a href="#{{ form.attributes.name }}" rel="submit" class="button"><span>{% trans %}Save and finish{% endtrans %}</span></a>
        </li>
    </ul>
    <script type="text/javascript">
        openLayoutPageEditor = function(id){
            if (id == undefined) {
                window.location = Routing.generate('admin.layout_page.index');
            }
            else {
                window.location = Routing.generate('admin.layout_page.edit',{id: id});
            }
        };
    </script>
    <div class="layout-two-columns">
        <div class="column narrow-collapsed">
            <div class="block">
                {{ form(tree) }}
            </div>
        </div>
        <div class="column wide-collapsed">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
