{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% block content %}
    <h2>{% trans %}Layout pages{% endtrans %}</h2>

    <div class="block">
        {{ form(tree) }}
    </div>

    <script type="text/javascript">
        openLayoutPageEditor = function(id){
            if (id == undefined) {
                window.location = Routing.generate('admin.layout_page.index');
            }
            else {
                window.location = Routing.generate('admin.layout_page.edit',{id: id});
            }
        };
    </script>
{% endblock %}
