{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/wellcommerceadmin/js/category.js') }}"></script>
{% endblock %}
{% block content %}
    <h2>{% trans %}category.heading.index{% endtrans %}</h2>

    <div class="block">
        {{ render_form(tree) }}
    </div>
{% endblock %}
