<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-ms-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6">
                        <h4>Category header</h4>

                        <ul class="list-unstyled">
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6">
                        <h4>Category header</h4>

                        <ul class="list-unstyled">
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-3 col-xs-6">
                        <h4>Category header</h4>

                        <ul class="list-unstyled">
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a href="#">Category</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-lg-offset-2 hidden-sm hidden-xs">
                <div class="newsletter text-right">
                    <h4>Newsletter</h4>

                    <p>
                        Sign up, to our weekly newsletter!
                    </p>
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="email">Password</label>
                            <input type="email" class="form-control" id="email" placeholder="E-mail">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
