{% extends 'WellCommerceWebBundle:Front:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            a
        </div>

        <div class="col-xs-6 col-sm-6">
            b
        </div>

        <div class="col-xs-6 col-sm-3">
            c
        </div>
    </div>
{% endblock %}
