web/bundles/
web/css/
web/js/
web/js/compiled/
app/bootstrap.php.cache*
app/cache/*
app/sql/*
app/store/*
app/cache/dev/*
app/config/parameters.yml
app/phpunit.xml
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/php-cs-fixer.phar
/application/.idea
*.idea
/tests/_output
app/sessions/*
app/cache/dev/appDevDebugProjectContainer.php
app/cache/dev/appDevDebugProjectContainer.xml
*.project
web/media/*
tests/_output/*
.buildpath
app/cache/dev/assetic

*.lock

.idea/workspace.xml
