*.lock
*.phar

web/bundles/*
web/css/*
web/js/*
web/images/*
web/media/*

app/bootstrap.*
app/cache/*
app/config/parameters.yml
app/logs/*
app/sessions/*
app/sql/*
app/store/*
app/phpunit.xml

/bin/
/vendor/

