web/bundles/
web/css/
web/js/
web/js/compiled/
app/bootstrap.php.cache
app/cache/*
app/cache/dev/*
app/config/parameters.yml
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/application/.idea
*.idea
/tests/_output
app/config/parameters.yml
app/cache/dev/appDevDebugProjectContainer.php
app/cache/dev/appDevDebugProjectContainer.xml
*.project
