{% include 'WellCommerceAppBundle:Email:header.html.twig' %}
{% trans_default_domain "wellcommerce" %}
<p><strong>{% trans %}user.label.first_name{% endtrans %}:</strong> {{ user.firstname }}</p>
<p><strong>{% trans %}user.label.last_name{% endtrans %}:</strong> {{ user.lastname }}</p>
<p><strong>{% trans %}user.label.email{% endtrans %}:</strong> {{ user.email }}</p>
<p><strong>{% trans %}user.label.password{% endtrans %}:</strong> {{ password }}</p>
{% include 'WellCommerceAppBundle:Email:footer.html.twig' %}
