{% include 'WellCommerceAppBundle:Email:header.html.twig' %}
{% trans_default_domain "wellcommerce" %}
<p><strong>{% trans %}user.label.password{% endtrans %}:</strong> {{ password }}</p>
{% include 'WellCommerceAppBundle:Email:footer.html.twig' %}
