<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
<head>
    <title>Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Author" content="WellCommerce sp. z o.o."/>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('design/_css_panel/core/style.css') }}" type="text/css"/>
    {% endblock %}
    {% javascripts '@WellCommerceCoreBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% include 'WellCommerceCoreBundle:Admin:flashes.html.twig' %}
</head>