<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
<head>
    <title>Administration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Author" content="WellCommerce sp. z o.o."/>
    <meta name="robots" content="noindex, nofollow"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    {% stylesheets 'bundles/wellcommercecore/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <script type="text/javascript">
        var BUNDLES_WEB_URL = '{{ asset('bundles')}}';
    </script>
    {% javascripts '@WellCommerceCoreBundle/Resources/public/js/*' output='js/compiled/all.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ xajax_javascript() }}
    {% include 'WellCommerceCoreBundle:Admin:flashes.html.twig' %}
</head>