{% include 'WellCommerceCoreBundle:Admin:header.html.twig' %}
<body>
<div id="header">
    <div class="layout-container">
        <h1>
            <a href="">
                {% image '@WellCommerceCoreBundle/Resources/public/images/logo.png' %}
                <img src="{{ asset_url }}" alt="Example" />
                {% endimage %}
            </a>
        </h1>

        <div id="livesearch">
            <input type="text" name="search" id="search" placeholder="{% trans %}Search{% endtrans %}"/>
        </div>
        <div id="top-menu">
            <ul>

            </ul>
        </div>
    </div>
</div>
<div id="navigation-bar">
    <div class="layout-container">
        <div id="selectors" style="float: right; margin-top: 8px;"></div>
        {% include 'WellCommerceCoreBundle:Admin:navigation.html.twig' %}

        <div id="boxShop">
            <span class="icon"></span>

            <div class="field-select">
                <select name="view-switcher" onchange="xajax_ChangeActiveView(this.value);">

                </select>
            </div>
        </div>

    </div>
</div>
<div id="message-bar"></div>
<div id="content" class="layout-container">
    {% block content %}{% endblock %}
</div>
</body>
{% include 'WellCommerceCoreBundle:Admin:footer.html.twig' %}