{% extends 'WellCommerceWebBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceWebBundle:Front:breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-lg-3">
            {{ layout_box('category_menu') }}
        </div>

        <div class="col-lg-9">
            {{ layout_box('product_showcase') }}
        </div>

        <div class="col-lg-12">
            <div class="promotions box">
                <h2 class="box-header">
                    Bestsellers
                </h2>
                {{ layout_box('product_bestseller') }}
            </div>
        </div>

        <div class="col-lg-12">
            <div class="promotions box">
                <h2 class="box-header">
                    New arrivals
                </h2>
                {{ layout_box('product_new_arrivals') }}
            </div>
        </div>
    </div>
{% endblock %}
