<div class="box">
    <div class="panel panel-default filters">
        <div class="panel-body">
            <fieldset>
                <h5>Price
                    <small>(USD)</small>
                </h5>

                <form class="form-inline price" role="form">
                    <input type="number" class="form-control" id="price-from" placeholder="from"><span
                            class="divider">-</span><input type="number" class="form-control"
                                                           id="price-to" placeholder="to">
                </form>
            </fieldset>

            <fieldset>
                <h5>Brands</h5>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        LG <span>(11)</span>
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Samsung <span>(8)</span>
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Sony <span>(5)</span>
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Panasonic <span>(6)</span>
                    </label>
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        Toshiba <span>(4)</span>
                    </label>
                </div>

            </fieldset>
        </div>
    </div>
</div>
