{% if dataset.filtered > 0 %}
    {% include 'WellCommerceProductBundle:Front/Common:products.html.twig' %}
{% else %}
    <div class="alert alert-info" role="alert">
        <strong>{% trans %}category.flash.empty_category{% endtrans %}</strong>
    </div>
{% endif %}
