{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts '@WellCommerceCatalogBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block content %}
    <h2>{% trans %}category.heading.index{% endtrans %}</h2>

    <div class="block">
        {{ form_js(tree) }}
    </div>
{% endblock %}
