<h2 class="box-heading text-left">{{ category.translation.name }}</h2>
<hr>
{% if category.translation.short_description|length %}
<div class="well">
    {{ category.translation.short_description|raw }}
</div>
{% endif %}