<header>
    <div class="tools">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 left">
                    {% include 'WellCommerceIntlBundle:Front/Common:currency_switcher.html.twig' %}
                </div>
                <div class="col-lg-3 left">
                    {% include 'WellCommerceIntlBundle:Front/Common:locale_switcher.html.twig' %}
                </div>

                <div class="col-lg-6 text-right right">
                    {% include 'WellCommerceClientBundle:Front/Common:nav.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'WellCommerceWebBundle:Front:nav.html.twig' %}
</header>
