{% trans_default_domain "wellcommerce" %}
<div id="sliding-search" class="sliding-search">
	<div>
		<form>
			<div class="input-group">
				<span class="input-group-addon" id="search-phrase"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
				<input type="text" class="form-control" placeholder="WellCommerce searching" aria-describedby="search-phrase">
			</div>
		</form>
	</div>
</div>
