{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{{ resource.translate().name }}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.news.add') }}" class="button"><span>{% trans %}admin.form.button.add{% endtrans %}</span></a></li>
    </ul>
    {{ datagrid_renderer(datagrid) }}
{% endblock %}
