imports:
    - { resource: config.yml }

framework:
    profiler: false

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  %prod_log_path%
            level: debug
        console:
            type:  console
        sentry:
            type:  raven
            dsn:   'https://aee308387ae54cca928ce30fa320b0e2:343f9af62d9d4686bc6ca4b25ff5ec09@app.getsentry.com/71753'
            level: error
