{% include 'WellCommerceAppBundle:Email:header.html.twig' %}
{% trans_default_domain "wellcommerce" %}
<p>{% trans %}client.email.reset_password_instructions{% endtrans %}</p>
<p><a href="{{ url('front.client_password.change', {"hash": client.clientDetails.resetPasswordHash}) }}">{% trans %}client.button.confirm_password_reset{% endtrans %}</a></p>
{% include 'WellCommerceAppBundle:Email:footer.html.twig' %}
