{% extends "layout.html.twig" %}
{% block content %}
    <h2>{% trans %}Files{% endtrans %}</h2>
    <script type="text/javascript">
        function processFile(row) {
            row.preview = '<a title="" href="' + row.preview + '" class="show-thumb"><img src="{{ asset('design/_images_panel/icons/datagrid/details.png') }}" style="vertical-align: middle;" /></a>';
            return row;
        }

        function dataLoaded(dDg) {
            dDg.m_jBody.find('.show-thumb').mouseenter(GTooltip.ShowThumbForThis).mouseleave(GTooltip.HideThumbForThis);
        }
    </script>
    {{ datagrid_renderer(datagrid) }}
{% endblock %}