{% extends 'WellCommerceAppBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceAppBundle:Front:breadcrumbs.html.twig' %}
    {% include 'WellCommerceAppBundle:Front/Common:flashes.html.twig' %}
    <div class="row">
		<div class="col-lg-5 col-md-6 col-xs-12">
            {{ layout_box('client_forgot_password') }}
        </div>

        <div class="col-md-4 hidden-sm hidden-xs">
            {% include 'WellCommerceAppBundle:Front/Common:sidebar_contact.html.twig' %}
        </div>
    </div>
{% endblock %}
