{% extends 'WellCommerceAppBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}user.heading.access_denied{% endtrans %}</h2>
    <div class="block">
        <p>{% trans %}user.tip.access_denied{% endtrans %}</p>
    </div>
{% endblock %}
