{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block body %}
<body class="welcome-screen">
<div id="header">
    <div class="layout-container">
        <h1>
            <a href="{{ path('admin.dashboard.index') }}">
                <img src="{{ asset('images/logo.png') }}" alt="WellCommerce" />
            </a>
        </h1>
    </div>
</div>
<div id="message-bar"></div>
<div id="content" class="layout-container">
    {{ form_js(form) }}
</div>
</body>
{% endblock %}
