{% extends 'WellCommerceAppBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceAppBundle:Front:breadcrumbs.html.twig' %}

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            {{ layout_box('client_login') }}
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            {{ layout_box('client_registration') }}
        </div>

        <div class="col-md-4 hidden-sm hidden-xs">
            {% include 'WellCommerceAppBundle:Front/Common:sidebar_contact.html.twig' %}
        </div>
    </div>
{% endblock %}
