{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}attribute_group.heading.index{% endtrans %}</h2>

    <ul class="possibilities">
        <li><a href="{{ path('admin.attribute_group.add') }}" id="add_group" class="button" title="{% trans %}admin.button.add{% endtrans %}"><span>{% trans %}admin.button.add{% endtrans %}</span></a></li>
    </ul>

    <div class="block">
        {% if groups|length > 0 %}
            <div class="scrollable-tabs">
                <ul>
                    {% for group in groups %}
                        <li><a href="{{ path('admin.attribute_group.edit',{'id': group.id}) }}">{{ group.translate().name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <p>{% trans %}attribute_group.flash.empty_group{% endtrans %}</p>
    </div>

    {% include 'WellCommerceAttributeBundle:Admin:AttributeGroup/javascript.html.twig' %}

{% endblock %}
