{% trans_default_domain "wellcommerce" %}
{% import "WellCommerceFormBundle:Front/Common:macros_horizontal.html.twig" as macros %}
<div class="well-form mbt60">
    <h4>{% trans %}client.heading.contact_details{% endtrans %}<small>{% trans %}form.help.required_fields{% endtrans %}</small></h4>

    {% include 'WellCommerceWebBundle:Front/Common:flashes.html.twig' %}


</div>
