{% trans_default_domain "wellcommerce" %}
<div class="box">
    <div class="list-group cms-categories">
        <a href="{{ path('front.client_order.index') }}" class="list-group-item {% if isActiveRoute('front.client_order.index') %}active{% endif %}">
            {% trans %}client.link.orders{% endtrans %}
        </a>
        <a href="{{ path('front.client_address_book.index') }}" class="list-group-item {% if isActiveRoute('front.client_address_book.index') %}active{% endif %}">
            {% trans %}client.link.address_book{% endtrans %}
        </a>
        <a href="{{ path('front.client_settings.index') }}" class="list-group-item {% if isActiveRoute('front.client_settings.index') %}active{% endif %}">
            {% trans %}client.link.settings{% endtrans %}
        </a>
        <a href="{{ path('front.client_wishlist.index') }}" class="list-group-item {% if isActiveRoute('front.client_wishlist.index') %}active{% endif %}">
            {% trans %}client.link.wishlist{% endtrans %}
        </a>
    </div>
</div>
