{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% block body %}
<body class="welcome-screen">
<div id="header">
    <div class="layout-container">
        <h1>
            <a href="">
                {% image '@WellCommerceAdminBundle/Resources/public/images/logo.png' %}
                <img src="{{ asset_url }}" />
                {% endimage %}
            </a>
        </h1>
    </div>
</div>
<div id="message-bar"></div>
<div id="content" class="layout-container">
    {{ error }}
    {{ form_js(form) }}
</div>
</body>
{% endblock %}