<div class="col-lg-7">
    <div class="coupon">
        <h4>Coupon code</h4>

        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control">

                <div class="input-group-addon">
                    <button type="submit" class="btn btn-primary btn-sm coming-soon">Accept</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-5">
    <div class="row">
        <div class="col-lg-6 text-right">
            <h4><br/><br/>Discount</h4>
        </div>
        <div class="col-lg-6">
            <h4><strong><br/><br/>{{ format_price(0) }}</strong></h4>
        </div>
    </div>
</div>