{% import "WellCommerceAppBundle:Front/Form:macros.html.twig" as macros %}
{% include 'WellCommerceAppBundle:Front/Common:flashes.html.twig' %}
{% trans_default_domain "wellcommerce" %}
<div class="well-form">
    <h4>{% trans %}client.heading.change_password{% endtrans %}<small>{% trans %}form.help.required_fields{% endtrans %}</small></h4>

    {{ macros.form_begin(form, 'form-horizontal') }}
    {% for element in form.getChildren().get('clientDetails').getChildren() %}
        {{ macros.element(element) }}
    {% endfor %}
    <div class="clearfix">
        <button type="submit" class="btn btn-primary pull-right">{% trans %}client.button.change_password{% endtrans %}</button>
    </div>
    {{ macros.form_end(form) }}
</div>
