<li class="dropdown">
    <a href="#" class="dropdown-toggle cartQty" data-toggle="dropdown" role="button"
       aria-expanded="false">Cart<span>2</span></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            <table>
                <tbody>
                <tr>
                    <td>
                        <a href="#" class="delete"><img src="../assets/img/delete-ico.png"></a>
                    </td>
                    <td>
                        <a href="#">Nowy Apple TV® - Black</a>
                    </td>
                    <td>
                        <input type="text" value="2" class="text-center">
                    </td>
                    <td class="text-right">
                        $499,00
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <li class="divider"></li>
        <li>
            <table>
                <tbody>
                <tr>
                    <td>
                        <a href="#" class="delete"><img src="../assets/img/delete-ico.png"></a>
                    </td>
                    <td>
                        <a href="#">Garmin Fitness Band - Red</a>
                    </td>
                    <td>
                        <input type="text" value="1" class="text-center">
                    </td>
                    <td class="text-right">
                        $299,00
                        <small>$349,00</small>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <li class="clearfix">
            <a href="{{ path('front.cart.index') }}">Checkout <img
                        src="{{ asset( 'themes/wellcommerce/assets/img/arrow-right-ico.png') }}"></a>

            <span class="pull-right">$798,00</span>
        </li>
    </ul>
</li>
