<div class="box">
    <div class="list-group main-categories">
        {% for producer in producers.rows %}
        <a href="{{ producer.route }}" class="list-group-item {% if producer.id == activeProducer %}active{% endif %}">{{ producer.name }}
            <small>({{ producer.products }})</small>
            <span class="triangle"></span>
        </a>
        {% endfor %}
    </div>
</div>
