{% extends 'WellCommerceWebBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceWebBundle:Front:breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-sm-3">
            {{ layout_box('client_menu') }}
        </div>

        <div class="col-lg-7 col-sm-9">
			{{ layout_box('client_address_book') }}
			<div class="well-form mbt60">
				<h4>Billing data<small>*Requested fields</small></h4>

				<form>
					<div class="row">
						<div class="col-lg-9">
							<div class="form-group" id="client-type">
								<label class="block">Client type</label>

								<label class="radio-inline">
									<input type="radio" name="clientType" value="1" checked="checked">
									Person
								</label>

								<label class="radio-inline">
									<input type="radio" name="clientType" value="2">
									Company
								</label>
							</div>

							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">First name</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">Last name</label>
										<input type="text" class="form-control" />
									</div>
								</div>
							</div>

							<div id="company-wrap">
								<div class="row">
									<div class="col-sm-6 col-xs-12">
										<div class="form-group requested">
											<label for="">Company name</label>
											<input type="text" class="form-control" />
										</div>
									</div>

									<div class="col-sm-6 col-xs-12">
										<div class="form-group requested">
											<label for="">Tax ID</label>
											<input type="text" class="form-control" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">Street name</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-6">
									<div class="form-group requested">
										<label for="">Building no</label>
										<input type="text" class="form-control" />
									</div>
								</div>

								<div class="col-md-3 col-sm-3 col-xs-6">
									<div class="form-group requested">
										<label for="">Place no</label>
										<input type="text" class="form-control" />
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">City</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-6">
									<div class="form-group requested">
										<label for="">Post code</label>
										<input type="text" class="form-control" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">Country</label>
										<select class="form-control">
											<option>USA</option>
											<option>UK</option>
											<option>Australia</option>
										</select>
									</div>
								</div>
							</div>

							<div class="clearfix mtp20">
									<button type="submit" class="btn btn-primary pull-right">Save changes</button>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="well-form">
				<h4>Delivery address<small>*Requested fields</small></h4>

				<form>
					<div class="row">
						<div class="col-lg-9">
							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">First name</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">Last name</label>
										<input type="text" class="form-control" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">Street name</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-6">
									<div class="form-group requested">
										<label for="">Building no</label>
										<input type="text" class="form-control" />
									</div>
								</div>

								<div class="col-md-3 col-sm-3 col-xs-6">
									<div class="form-group requested">
										<label for="">Place no</label>
										<input type="text" class="form-control" />
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">City</label>
										<input type="text" class="form-control" />
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-6">
									<div class="form-group requested">
										<label for="">Post code</label>
										<input type="text" class="form-control" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6 col-xs-12">
									<div class="form-group requested">
										<label for="">Country</label>
										<select class="form-control">
											<option>USA</option>
											<option>UK</option>
											<option>Australia</option>
										</select>
									</div>
								</div>
							</div>

							<div class="clearfix mtp20">
									<button type="submit" class="btn btn-primary pull-right">Save changes</button>
							</div>
						</div>
					</div>
				</form>
			</div>
        </div>
    </div>
{% endblock %}
