{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}tax.heading.edit{% endtrans %} &raquo; {{ resource.translate().name }}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.tax.index') }}" class="button return"><span></span></a></li>
        <li><a href="#{{ form.getName() }}" rel="submit" class="button"><span>{% trans %}common.button.save_and_finish{% endtrans %}</span></a></li>
    </ul>
    {{ render_form(form) }}
{% endblock %}
