{% import "WellCommerceAppBundle:Front/Form:macros.html.twig" as macros %}
{% include 'WellCommerceAppBundle:Front/Common:flashes.html.twig' %}
{% trans_default_domain "wellcommerce" %}
<div class="well-form">
    <h4>{% trans %}client.heading.reset_password{% endtrans %}<small>{% trans %}form.help.required_fields{% endtrans %}</small></h4>

    {{ macros.form_begin(form) }}

        {{ macros.element(form.getChildren().get('_username')) }}

        <div class="clearfix">
            <button type="submit" class="btn btn-primary pull-right">{% trans %}client.button.reset_password{% endtrans %}</button>
        </div>
    {{ macros.form_end(form) }}
</div>
