{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% block content %}
    <h2>{% trans %}package.index.heading{% endtrans %}</h2>

    <ul class="possibilities">
        <li><a href="{{ path('admin.package.sync') }}" class="button"
               title="{% trans %}package.sync.button{% endtrans %}"><span>{% trans %}package.sync.button{% endtrans %}</span></a></li>
    </ul>

    {{ datagrid_renderer(datagrid) }}

{% endblock %}
