{% if dataset.filtered > 0 %}

	{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
	{% if currentPath|replace({'/app_dev.php':''}) == '/' %}
	{% include 'WellCommerceProductBundle:Front/ProductStatus:products.html.twig' %}
	{% else %}
	{% include 'WellCommerceProductBundle:Front/Common:products.html.twig' %}
	{% endif %}

	<div class="text-center">
		<span class="btn btn-default">load more products <small class="block">(12-24 of 80)</small></span>
	</div>

{% else %}
    <div class="alert alert-info" role="alert">
        <strong>{% trans %}category.flash.empty_category{% endtrans %}</strong>
    </div>
{% endif %}