{% extends 'WellCommerceWebBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceWebBundle:Front:breadcrumbs.html.twig' %}
    <div class="product-details">
        <div class="row">
            <div class="col-lg-4 text-center">
                <a href="#" class="mainphoto"><img src="assets/prod/mainphoto.jpg" /></a>

                <div class="thumbnails">
                    <a href="#"><img src="assets/prod/thumb3.jpg" /></a>
                    <a href="#"><img src="assets/prod/thumb2.jpg" /></a>
                    <a href="#"><img src="assets/prod/thumb1.jpg" /></a>
                    <a href="#"><img src="assets/prod/thumb4.jpg" /></a>
                    <a href="#"><img src="assets/prod/thumb5.jpg" /></a>
                    <a href="#"><img src="assets/prod/thumb6.jpg" /></a>
                    <a href="#"><img src="assets/prod/thumb7.jpg" /></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="description">
                    <div class="controls clearfix">
                        <a href="#" class="pull-left">Previous product</a>
                        <a href="#" class="pull-right">Next product</a>
                    </div>

                    <h1>GoPro Hero 4 Black Edition (CHDHX-401)</h1>

                    <div class="reviews">
                        <div class="stars rat rat3">
                            <img src="assets/img/star-on.png" />
                            <img src="assets/img/star-on.png" />
                            <img src="assets/img/star-on.png" />
                            <img src="assets/img/star-on.png" />
                            <img src="assets/img/star-off.png" />
                        </div>

                        <span>4.3 / see 12 reviews</span>
                    </div>

                    <p>
                        HERO4 Black takes Emmy® Award-winning GoPro performance to the next level with our best image quality yet, plus a 2x more powerful processor2 that delivers super slow motion at 240 frames per second.1 Incredible high-resolution 4K30 and 2.7K601 video combines with 1080p120 and 720p240 slow motion to enable stunning, immersive footage of you and your world. Protune™ settings for both photos and video unlock manual control of Color, ISO Limit, Exposure and more.
                    </p>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="delivery-info">
                                <h5>Delivery</h5>

                                <span>Delivery in 48h</span>
                                <span>Free delivery from $200</span>
                                <span>DHL $10.00</span>
                                <span>FedEx $12.00</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-lg-offset-2">
                            <div class="producer">
                                <h5>Producer</h5>

                                <a href="#"><img src="assets/prod/producer.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="add-to-cart">
						<span class="price promo">
							<small>$549.00</small>
							$499.00
						</span>

                    <div class="labels">
                        <span class="label label-promotion">Promotion</span>
                    </div>

                    <div class="available text-center">
                        Product is <span class="grn">available</span><br />
                        Shipping from: $25.00
                    </div>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="size" class="col-lg-5 control-label">Color</label>
                            <div class="col-lg-7">
                                <select class="form-control">
                                    <option>Silver</option>
                                    <option>Black</option>
                                    <option>Blue</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="size" class="col-lg-5 control-label">Size</label>
                            <div class="col-lg-7">
                                <select class="form-control">
                                    <option>Small</option>
                                    <option>Medium</option>
                                    <option>Large</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quantity" class="col-lg-5 control-label">Quantity</label>
                            <div class="col-lg-7">
                                <input type="text" class="form-control" value="1" />
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block text-left">Add to cart<img src="assets/img/add-to-cart.png" class="pull-right" /></button>
                        <!-- 							<button class="btn btn-danger btn-block">Ask about product</button> -->
                    </form>
                </div>

                <div class="additional text-center">
                    <a href="#">Add to clipboard</a><br />
                    <a href="#">Add to compare</a>
                </div>
            </div>
        </div>
    </div>

    <div class="product-description">
        <div class="row">
            <div class="col-lg-9">
                <div class="description-block">
                    <h2>Description</h2>
                    <p>Picture perfect. Simply smart. All-new for 2014. E-Series is packaged in a sleek design and available in models up to 70 inches.</p>
                    <ul>
                        <li>Energy Efficient up to 50%</li>
                        <li>5M to 1 Contrast Ratio</li>
                        <li>Full Array LED Technology</li>
                    </ul>

                    <p>
                        <strong>The VIZIO E-Series is brighter, sleeker and smarter.</strong><br />
                        Experience more vibrant colors, more pronounced darks, more premium apps, and truly epic entertainment at an unbeatable value on the all-new, beautifully redesigned E-Series.
                    </p>
                </div>

                <div class="description-block">
                    <h2>Tech spec</h2>
                    <table class="table table-hover">
                        <tr>
                            <td>Screen Size</td>
                            <td>24"</td>
                        </tr>
                        <tr>
                            <td>Backlight Type</td>
                            <td>Razor LCD</td>
                        </tr>
                        <tr>
                            <td>Resolution</td>
                            <td>1920x1080 (1080p)</td>
                        </tr>
                        <tr>
                            <td>Aspect Ratio</td>
                            <td>16:9</td>
                        </tr>
                        <tr>
                            <td>Features</td>
                            <td>Mirror, Web Browser, Closed Caption, Game Mode, Film Mode, Sound Leveler, Mobile High Definition Link (MHL)</td>
                        </tr>
                    </table>
                </div>

                <div class="description-block">
                    <h2>Opinions</h2>

                    <div class="alert alert-success">
                        <button class="btn btn-success btn-lg pull-right">Add opinion</button>
                        <strong>Help others decide - add rating and review</strong><br />
                        Your rating will help others decide to choose the right product
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                {% include 'WellCommerceCmsBundle:Front/Common:sidebar_contact.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
