<div class="col-lg-9 col-md-9">
    <div class="category-tools">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="CurrencyMenu" data-toggle="dropdown" aria-expanded="true">
                Products grid
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="CurrencyMenu">
                <li><a href="category_list.php">Products list</a></li>
            </ul>
        </div>

        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="CurrencyMenu" data-toggle="dropdown" aria-expanded="true">
                Sort by: price
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="CurrencyMenu">
                <li><a href="#">By rating</a></li>
                <li><a href="#">By date</a></li>
                <li><a href="#">By date</a></li>
                <li><a href="#">By popularity</a></li>
            </ul>
        </div>
    </div>
</div>
