<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <div class="list-group">
        {% for category in categories %}
            <a href="{{ path('front.category.index',{"slug": category.slug}) }}" class="list-group-item">{{ category.name }}</a>
        {% endfor %}
    </div>
</div>