<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
    <div class="list-group">
        <a href="#" class="list-group-item active">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
        <a href="#" class="list-group-item">Category</a>
    </div>
</div>