<div id="product-modal" class="modal fade"></div>
<div id="basket-modal" class="modal fade"></div>
<div id="coming-soon-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header noborder">
                <strong>This feature is not yet implemented</strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="alert alert-info text-center">
                    <p>This is a pre-alpha release of WellCommerce.</p>
                    <p>Follow us on Twitter to receive news about latest features and new releases.</p>
                    <p><a href="https://twitter.com/Well_Commerce" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @Well_Commerce</a></p> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link dark nopadding notransform pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Back to shopping</button>
            </div>
        </div>
    </div>
</div>
