{% extends 'WellCommerceAppBundle:Front:layout.html.twig' %}
{% block content %}
   <div class="row">
      <div class="col-sm-9 col-xs-12">
         {{ message }}
      </div>
   </div>
{% endblock %}