{% extends 'WellCommerceWebBundle:Front:layout.html.twig' %}
{% block content %}
    <div class="col-lg-12">
        {% include 'WellCommerceWebBundle:Front:breadcrumbs.html.twig' %}
    </div>
    <div class="col-lg-12 main-col">
        <div class="row">
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-lg-12 box">
                        {{ layout_box('category.menu.box') }}
                    </div>
                </div>
            </div>

            <div class="col-lg-9 col-md-9">
                <div class="col-lg-12 box">
                    {{ layout_box('client.login.box') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
