{% extends 'WellCommerceWebBundle:Front:layout.html.twig' %}
{% block content %}
    {% include 'WellCommerceWebBundle:Front:breadcrumbs.html.twig' %}
    <div class="row">
        <div class="col-sm-3">
            {{ layout_box('client_menu') }}
        </div>

        <div class="col-sm-9">
			<div class="well-form mbt60">
				<h4>Order #973</h4>

				<div class="well">
					<div class="row">
						<div class="col-sm-6">
							<table class="table table-condensed order-status-table">
								<tbody>
									<tr>
										<td>Status:</td>
										<td>Waiting for payment</td>
									</tr>
									<tr>
										<td>Date:</td>
										<td>2015-05-29 08:20:16</td>
									</tr>
									<tr>
										<td>Payment:</td>
										<td>Bank transfer</td>
									</tr>
									<tr>
										<td>Billing data:</td>
										<td>
											Tony Stark<br />
											W. Nelson 5123<br />
											67219 Chicago, Il<br />
											USA<br />
											tony.stark@stark-ind.com<br />
											+01 773 445 9886

										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-sm-6">
							<table class="table table-condensed order-status-table">
								<tbody>
									<tr>
										<td>Shipping:</td>
										<td>FedEx</td>
									</tr>
									<tr>
										<td>Billing data:</td>
										<td>
											Tony Stark<br />
											W. Nelson 5123<br />
											67219 Chicago, Il<br />
											USA<br />
											tony.stark@stark-ind.com<br />
											+01 773 445 9886

										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="table-responsive">
					<table class="table orders-table">
						<thead>
							<tr>
								<th>Product</th>
								<th>Price</th>
								<th>Qty</th>
								<th>Value</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td><a href="product.php"><strong>GoPro Hero 4 Black Edition (CHDHX-401)</strong></a></td>
								<td>$299.00</td>
								<td>1</td>
								<td><strong>$299.00</strong></td>
							</tr>

							<tr>
								<td><a href="product.php"><strong>Pebble Smartwatch</strong></a></td>
								<td>$199.00</td>
								<td>2</td>
								<td><strong>$398.00</strong></td>
							</tr>

							<tr>
								<td><a href="product.php"><strong>Garmin Vivofit Fitness Band</strong></a></td>
								<td>$129.00</td>
								<td>1</td>
								<td><strong>$129.00</strong></td>
							</tr>
						</tbody>

						<tfoot>
							<tr>
								<td colspan="3"><strong>FedEx</strong></td>
								<td><strong>$9.00</strong></td>
							</tr>
							<tr>
								<td colspan="3"><h4>Summary</h4></td>
								<td><span class="price">$835.00</span></td>
							</tr>
						</tfoot>

					</table>
				</div>
	        </div>
        </div>
    </div>
{% endblock %}
