{% trans_default_domain "wellcommerce" %}

<div class="pagination-wrap clearfix">
	<span>
		results 1 - 24 of 54
	</span>

    <ul class="pagination pull-right">
        <li class="disabled"><a href="#">&lsaquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&rsaquo;</a></li>
    </ul>
</div>