<div class="summary mbt60">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2 col-xs-12">
            <div class="col-sm-9 col-xs-6 text-right">
                <span class="text">Summary<small>Payment method: {{ cart.getPaymentMethod().translate().getName() }}</small></span>
            </div>
            <div class="col-sm-3 col-xs-6">
                <span class="value">{{ format_price(summary) }}</span>
            </div>
        </div>
    </div>
</div>
