{% include 'WellCommerceAppBundle:Email:header.html.twig' %}
<p><strong style="color:#231f20;">{% trans %}TXT_REGISTER_USER_OK{% endtrans %}</strong></p>
<p><strong>{% trans %}TXT_FIRSTNAME{% endtrans %}:</strong> {{ client.contactDetails.firstname }}</p>
<p><strong>{% trans %}TXT_SURNAME{% endtrans %}:</strong> {{ client.contactDetails.lastname }}</p>
<p><strong>{% trans %}TXT_EMAIL{% endtrans %}:</strong> {{ client.contactDetails.email }}</p>
<p><strong>{% trans %}TXT_PHONE{% endtrans %}:</strong> {{ client.contactDetails.phone }}</p>
{% include 'WellCommerceAppBundle:Email:footer.html.twig' %}
