{% extends 'WellCommerceAppBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}order_status.heading.index{% endtrans %}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.order_status.add') }}" class="button"><span>{% trans %}common.button.add{% endtrans %}</span></a></li>
    </ul>
    {{ datagrid_renderer(datagrid) }}
{% endblock %}
