{% extends 'WellCommerceCoreBundle:Admin:layout.html.twig' %}
{% block content %}
    <h2>{% trans %}heading.product.list{% endtrans %}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.product.add') }}" class="button"
               title="{% trans %}Add{% endtrans %}"><span>{% trans %}Add{% endtrans %}</span></a></li>
    </ul>
    {{ datagrid_renderer(datagrid) }}
{% endblock %}
