{% extends 'WellCommerceAppBundle:Front:layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                {% include 'WellCommerceAppBundle:Front:breadcrumbs.html.twig' %}
            </div>

            <div class="col-lg-9 col-sm-6 col-xs-12">
                {% include 'WellCommerceAppBundle:Front/Common:options.html.twig' %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            {{ layout_box('producer_menu') }}
        </div>

        <div class="col-sm-9 col-xs-12">
            {{ layout_box('producer_products') }}
        </div>
    </div>
{% endblock %}
