{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}order.heading.index{% endtrans %}</h2>
    <script type="text/javascript">
        var processOrderDataGrid = function(oRow){
            oRow.productTotal   = oRow.productTotal + ' ' + oRow.currency;
            oRow.shippingTotal  = oRow.shippingTotal + ' ' + oRow.currency;
            oRow.orderTotal     = oRow.orderTotal + ' ' + oRow.currency;

            return oRow;
        };
    </script>
    {{ datagrid_renderer(datagrid) }}
{% endblock %}
