{% extends 'WellCommerceAdminBundle:Admin:layout.html.twig' %}
{% trans_default_domain "wellcommerce" %}
{% block content %}
    <h2>{% trans %}deliverer.heading.index{% endtrans %}</h2>
    <ul class="possibilities">
        <li><a href="{{ path('admin.deliverer.add') }}" class="button"
               title="{% trans %}common.button.add{% endtrans %}"><span>{% trans %}common.button.add{% endtrans %}</span></a></li>
    </ul>
    {{ datagrid_renderer(datagrid) }}
{% endblock %}
