<div class="col-lg-7 col-xs-6">
    <div class="coupon">
        <h4>Coupon code</h4>
        {% if cart.coupon is null %}
        <div class="form-group">
            <div class="input-group">
                <input type="text" value="" class="form-control" id="coupon_code">

                <div class="input-group-addon">
                    <button type="submit" class="btn btn-primary btn-sm" id="use_coupon">Accept</button>
                </div>
            </div>
        </div>
        {% else %}
            <div class="form-group">
                <div class="input-group">
                    <input type="text" value="{{ cart.coupon.code }}" class="form-control" disabled>

                    <div class="input-group-addon">
                        <button type="submit" class="btn btn-primary btn-sm" id="remove_coupon">Remove</button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% if cart.coupon is not null %}
<div class="col-lg-5 col-xs-6">
    <div class="row">
        <div class="col-xs-6 text-right">
            <h4><br/><br/>Discount</h4>
        </div>
        <div class="col-xs-6">
            {% if cart.coupon.modifierType == '-' %}
                <h4><strong><br/><br/>-{{ format_price(cart.coupon.modifierValue, cart.coupon.currency) }}</strong></h4>
            {% else %}
                <h4><strong><br/><br/>-{{ cart.coupon.modifierValue }}{{ cart.coupon.modifierType }}</strong></h4>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
