{% trans_default_domain "wellcommerce" %}
{% set currencies = currencies() %}
{% if currencies|length > 1 %}
    <div class="dropdown pull-left">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="CurrencyMenu" data-toggle="dropdown" aria-expanded="true">
            {% trans %}common.label.currency{% endtrans %}: {{ app.request.session.get('_currency')|upper }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="CurrencyMenu">
            {% for currency in currencies %}
                <li><a href="{{ path('front.currency.switch',{"currency": currency }) }}">{{ currency }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
