{% trans_default_domain "wellcommerce" %}
{% if locales|length > 1 %}
    <div class="dropdown pull-left">
        <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="CurrencyMenu" data-toggle="dropdown" aria-expanded="true">
            {% trans %}locale.label.language{% endtrans %}: {{ app.request.locale|upper }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="CurrencyMenu">
            {% for locale in locales %}
                <li><a href="{{ path('front.locale.switch',{"_locale": locale}) }}">{{ locale }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
