{% trans_default_domain "wellcommerce" %}
<div id="sliding-search" class="sliding-search">
	<div>
		<form id="search">
			<div class="input-group">
				<span class="input-group-addon" id="search-phrase"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
				<input type="text" class="form-control" placeholder="{% trans %}search.label.phrase{% endtrans %}" aria-describedby="search-phrase" id="phrase" autocomplete="off">
			</div>
		</form>

		<div class="products-list" id="search-results"></div>
	</div>
</div>
