{% import "macros.twig" as macros %}
{% include 'header.twig' %}
<div class="container-fluid">

    <div class="alert alert-success">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>

    <div id="content" class="row layout-boxes">
        {% block content %}
            {% for key, column in layout %}
                {% if column.width == 0 %}
                    {% set width = '100%' %}
                {% else %}
                    {% set width = column.width ~ 'px' %}
                {% endif %}
                    {% for box in column.boxes %}
                        {{ layout_box(box) }}
                    {% endfor %}
            {% endfor %}
        {% endblock %}
    </div>
</div>
{% include 'footer.twig' %}