{% include 'header.twig' %}
<div class="container-fluid">

    <div class="alert alert-success">
        <strong>Well done!</strong> You successfully read this important alert message.
    </div>

    <div id="content" class="row layout-boxes">
        {% block content %}{% endblock %}
    </div>
</div>
{% include 'footer.twig' %}